<h1 class="text-center display-6 mb-5">Update Player</h1>

<div class="row justify-content-center">
    <div class="col-6">
        <form action="/players/<%= player._id %>" method="post">

            <div>
                <label class="form-label">First Name</label>
                <input class="form-control" name="first_name" type="text" required value="<%= player.first_name %>">
            </div>
            <div>
                <label class="form-label">Last Name</label>
                <input class="form-control" name="last_name" type="text" required value="<%= player.last_name %>">
            </div>
        
            <div>
                <label class="form-label">Position (Select all that apply)</label>
                <select class="form-select" name="position" multiple>
                    
                    <% const options = ["C", "LW", "RW", "D", "G"]; %>
                        <% for (let i = 0; i < options.length; i ++) { %> 
                        <% let selected = player.position.includes(options[i]) ? 'selected' : ''; %>
                    <option value="<%= options[i] %>" <%= selected %>><%= options[i] %></option>
                    <% } %> 
        
                </select>
            </div>
        
            <div>
                <label class="form-label">Jersey Number</label>
                <input class="form-control" name="jersey" type="number" min="1" max="99" value="<%= player.jersey %>">
            </div>
            <!-- <div>
                <label class="form-label">Team</label>
                <select class="form-select" name="team">
                    <% teams.forEach(team => { %>
                        <% if (team._id == player.parent().id) { %>
                            <option selected value="<%= team._id %>"><%= team.city + ' ' + team.name %> </option>
                        <% } else { %>
                            <option value="<%= team._id %>"><%= team.city + ' ' + team.name %> </option>
                        <% } %>
                    <% }) %>
                </select>
            </div> -->
        
            <button class="btn btn-primary btn-dark my-3" type="submit">Update Player</button>
        </form>
    </div>
</div>