<h1 class="text-center display-5 mb-5"><%= user.leagueName %> Arena List</h1>


<h2 class="text-center display-6 mb-5 text-muted">My League Arenas</h2>
<% if (leagueArenas.length == 0) { %>
    <p class="lead">No Arenas being used for this leauge yet</p>
<% } else { %>

    <div class="row justify-content-center mb-5">
        <div class="col-7">
            <table class="table table-striped border fs-6">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>Arena</th>
                        <th>Location</th>
                        <th>Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    <% leagueArenas.forEach(arena => { %>
                        <tr>
                            <td><%= arena.name %> </td>
                            <td><%= arena.location %> </td>
                            <td><%= arena.capacity %> </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

<% } %>

<h2 class="text-center display-6 mb-5 text-muted">Other Available Arenas</h2>
<% if (allArenas.length == 0) { %>
    <p class="lead">No Arenas added to database yet</p>
<% } else { %>

    <div class="row justify-content-center"">
        <div class="col-10">
            <table class="table table-striped border fs-6">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>Arena</th>
                        <th>Location</th>
                        <th>Capacity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% allArenas.forEach(arena => { %>
                        <% if (!arena.leagues.includes(leagueID)) { %>
                            <tr>
                                <td><%= arena.name %> </td>
                                <td><%= arena.location %> </td>
                                <td><%= arena.capacity %> </td>
                                <td>
                                    <a class="nav-link" href="/arenas/<%= arena._id %>/addLeague"><img src="images/icon-add.png" alt="icon-add" class="pe-3">Add to my league</a>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

<% } %>
