
<div class="btn-group dropend mb-3">
    <button type="button" class="btn btn-secondary btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Teams
    </button>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link text-dark" href="<%= leagueURL %>/teams">View All</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="<%= leagueURL %>/teams/new">Add Team</a>
        </li>
    </ul>
</div>

<div class="btn-group dropend mb-3">
    <button type="button" class="btn btn-secondary btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Players
    </button>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link text-dark" href="<%= leagueURL %>/players">View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="<%= leagueURL %>/players/new">Add Player</a>
        </li>
    </ul>
</div>

<div class="btn-group dropend mb-3">
    <button type="button" class="btn btn-secondary btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Arenas
    </button>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link text-dark" href="<%= leagueURL %>/arenas">View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="<%= leagueURL %>/arenas/new">Add Arena</a>
        </li>
    </ul>
</div>

<div class="btn-group dropend mb-3">
    <button type="button" class="btn btn-secondary btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Games
    </button>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link text-dark" href="<%= leagueURL %>/games">View Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="<%= leagueURL %>/games/new">Add Game</a>
        </li>
    </ul>
</div>



