<h1>Team List</h1>

<% if (teams.length == 0) { %>
    <p class="lead">There are no teams in this leaugue yet.</p>
<% } else { %>

    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Name</th>
                        <th>Division</th>
                        <th>Home Arena</th>
                    </tr>
                </thead>
                <tbody>
                    <% teams.forEach(team => { %>
                        <tr>
                            <td><%= team.name_short %> </td>
                            <td><%= team.city + ' ' + team.name %> </td>
                            <td><%= team.division %> </td>
                            <td><%= team.arena.name %> </td>

                            <td>
                                <a href="<%= leagueURL %>/teams/<%= team._id %>/update">
                                    <img src="/images/icon-update.png" alt="icon-update">
                                </a>
                            </td>

                            <td>
                                <a href="<%= leagueURL %>/teams/<%= team._id %>/delete">
                                    <img src="/images/icon-delete.png" alt="icon-delete">
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>



<% } %>
    