<h1>Add New Team</h1>

<form id="formCreateTeam" action="<%= leagueURL %>/teams" method="post">

    <section>
        <label for="teamCity">City/Neighbourhood</label>
        <input id="teamCity" name="city" type="text" required>
    </section>
    <section>
        <label for="teamName">Team Name</label>
        <input id="teamName" name="name" type="text" required>
    </section>
    <section>
        <label for="teamShort">Team Name Short (3 letters)</label>
        <input id="teamShort" name="name_short" type="text" required>
    </section>
    <section>
        <label for="teamArena">Home Arena</label>
        <select name="arena" id="teamArena">
            <% arenas.forEach(arena => { %>
                <option value="<%= arena._id %>"><%= arena.name %></option>
            <% }) %>
        </select>
    </section>

    <section>
        <label for="teamDivision">Division</label>
        <select name="division" id="teamDivision">
            <% league.division_names.forEach(division => { %>
                <option value="<%= division %>"><%= division %></option>
            <% }) %>
        </select>
    </section>

    <button type="submit">Add Team</button>
</form>