<h1 class="text-center display-6 mb-5">League Schedule</h1>

<% if (games.length == 0) { %>
    <p class="lead">There are no games yet.</p>
<% } else { %>

    <div class="row text-center justify-content-center">
        <div class="col-10">
            <table class="table table-striped border fs-6">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>Score</th>
                        <th>Home</th>

                        <th>Date</th>

                        <th>Away</th>
                        <th>Score</th>

                        <th></th>
                        <th></th>
                        

                    </tr>
                </thead>

                <tbody>
                    <% games.forEach(game => { %>
                        <tr>
                            <td class="fs-4 text-bold text-center"><%= game.home_team_score %> </td>
                            <td><%= game.home_team.fullname %> </td>
                            
                            <td class="text-muted"><%= game.gametime %> </td>

                            <td><%= game.away_team.fullname %> </td>
                            <td class="fs-4 text-bold text-center"><%= game.away_team_score %> </td>

                            <% if (game.is_complete) { %>
                                
                                <td>FINAL</td>
                                <td></td>
                             
                            <% } else {%>

                                <td>
                                    <a href="/games/<%= game._id %>/update">
                                        <img src="/images/icon-update.png" alt="icon-update">
                                    </a>
                                </td>
    
                                <td>
                                    <a href="/games/<%= game._id %>/delete">
                                        <img src="/images/icon-delete.png" alt="icon-delete">
                                    </a>
                                </td>
                                
                            <% } %>
                            
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

<% } %>